<section>
    <div class="observable landing-bg-trigger">
        
    </div>
    <div class="photo">
        <div>
            <img src="images/me.jpeg" alt="A photo of me" />
        </div>
    </div>
    <div class="about">
        <a href="https://git.io/typing-svg"><img src="https://readme-typing-svg.demolab.com?font=Fira+Code&size=30&duration=1000&pause=40&color=000000&center=true&vCenter=true&multiline=true&repeat=false&width=300&height=130&lines=Hi+there%2C;I'm+Abdallah!" alt="Typing SVG" /></a>
        <p>
            A full stack developer that loves to code and turn creative ideas into reality
        </p>
    </div>
</section>