<section id="home">
    <div class="observable landing-bg-trigger">
        
    </div>
    <div class="photo">
        <div>
            <img src="images/me.jpeg" alt="A photo of me" />
        </div>
    </div>
    <div class="about">
        <div class="typewriter-container">
            <h1 class="typewriter line1">Hi there,</h1>
            <h1 class="typewriter line2">I'm Abdallah!</h1>
        </div>
        <p>
            A full stack developer that loves to code and turn creative ideas into reality
        </p>
    </div>
</section>