<section id="contact-me">
    <div class="contact-bg-trigger observable">

    </div>
    <div class="lets observable">
        <h1 class="observable">Let's connect!</h1>
    </div>
    <div class="contacts">
        <ul>
                <li class="contact-container">
                    <div class="contact observable">
                        <i class="fa fa-envelope"></i>
                        <span>ballaabotaleb&#64;gmail.com</span>
                    </div>
                </li>
                <li class="contact-container">
                    <div class="contact observable">
                        <i class="fa fa-whatsapp"></i>
                        <span>01094280627</span>
                    </div>
                </li>
                <li class="contact-container">
                    <a class="contact observable" href="https://www.linkedin.com/in/abdallah-abotaleb/" target="_blank">
                        <i class="fa fa-linkedin"></i>
                        <span>abdallah-abotaleb</span>
                    </a>
                </li>
                <li class="contact-container">
                    <a class="contact observable" href="https://github.com/abtlb" target="_blank">
                        <i class="fa fa-github"></i>
                        <span>abtlb</span>
                    </a>
                </li>
                <li class="contact-container">
                    <a class="contact observable" href="https://www.instagram.com/_abtlb/" target="_blank">
                        <i class="fa fa-instagram"></i>
                        <span>_abtlb</span>
                    </a>
                </li>
        </ul>
    </div>
</section>    
