<section>
    <div class="lets">
        <h1>Let's connect</h1>
    </div>
    <ul class="contacts">
            <li class="contact-container">
                <div class="contact">
                    <i class="fa fa-envelope"></i>
                    <span>ballaabotaleb&#64;gmail.com</span>
                </div>
            </li>
            <li class="contact-container">
                <div class="contact">
                    <i class="fa fa-whatsapp"></i>
                    <span>01094280627</span>
                </div>
            </li>
            <li class="contact-container">
                <a class="contact" href="https://www.linkedin.com/in/abdallah-abotaleb/" target="_blank">
                    <i class="fa fa-linkedin"></i>
                    <span>abdallah-abotaleb</span>
                </a>
            </li>
            <li class="contact-container">
                <a class="contact" href="https://github.com/abtlb" target="_blank">
                    <i class="fa fa-github"></i>
                    <span>abtlb</span>
                </a>
            </li>
            <li class="contact-container">
                <a class="contact" href="https://www.instagram.com/_abtlb/" target="_blank">
                    <i class="fa fa-instagram"></i>
                    <span>_abtlb</span>
                </a>
            </li>
    </ul>
</section>    
