<section #chartContainer class="chart">
    <div #chart></div>
    <div #chart class="chart-container"></div>

    <div [class.visible]="showNodeInfo && selectedNode" class="node-info-panel">
        <button class="close-btn" (click)="closeNodeInfo()">×</button>
        <div *ngIf="selectedNode" class="node-details">
            <div class="image-and-content">
                <div class="node-image">
                    <img *ngIf="selectedNode!.img" [src]="selectedNode!.img" alt="{{ selectedNode!.id }}"
                    class="node-image">
                </div>
                <div *ngIf="selectedNode!.id.trim().toLowerCase() === 'tickets wizard'" class="node-content tickets">
                    <a href="https://tickets-wizardd.web.app/#/" target="_blank">Try it now!</a> | <a href="http://github.com/abtlb/TicketsWizardAngular" target="_blank">Frontend Github</a> | <a href="http://github.com/abtlb/TicketsAPI2" target="_blank">Backend Github</a>
                    <p> Tickets Wizard is a technical showcase of my web development skills.</p>
                    <div class="tech-and-features">
                        <div>
                            <h3>Technolgies used:</h3>
                            <ul>
                                <li>Angular</li>
                                <li>.NET</li>
                                <li>MSSQL</li>
                            </ul>
                        </div>
                        <div>
                            <h3>Features:</h3>
                            <ul>
                                <li>Real-time ticket booking</li>
                                <li>Event management</li>
                                <li>User authentication</li>
                                <li>Responsive design</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <h2>{{ selectedNode!.id }}</h2>
        </div>
    </div>
</section>