$bubble1-offset-x: 0;
$bubble1-offset-y: 0;

section {
  position: relative;
  width: 100%;
  height: 100vh;
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:transparent;
  background-size:16px 16px;
  z-index: 0;
}

.popups-bg-trigger {
  background-color: turquoise;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1%;
  z-index: -1; // Behind other content
}

.bubble {
    position: absolute;
    width: 15vw;
    height: 15vw;
    border-radius: 15vw;
    opacity: 0.8;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: radial-gradient(circle, #0075db 0%, rgba(240,248,255,0)100%);
    scale: 0;
    transition: filter 0.7s ease, transform 2s ease, scale 1s ease;
    top: 70%;
    color: white;
    // font-weight: 600;
    text-shadow: #55b0ff 0px 0px 40px, #55b0ff 0px 0px 80px, #55b0ff 0px 0px 60px;
    
    
    &.visible {
      scale: 1;
    }
    
    &:hover:not(.no-hover) {
      scale: 1.2;
      filter: hue-rotate(0deg) saturate(1.5);
    }
  }
  
  .bubble-main {
    // text-shadow: #55b0ff 0px 0px 10px, #55b0ff 0px 0px 20px, #55b0ff 0px 0px 30px;
    text-shadow: #55b0ff 0px 0px 10px, #55b0ff 0px 0px 20px, #55b0ff 0px 0px 30px;
  left: 50%;
  top: 20%;
  background: radial-gradient(circle, #003e75 60%, rgba(255, 255, 255, 0) 100%);
  color: white;
  width: 20vw;
  height: 20vw;
  border-radius: 20vw;
  font-size: 4rem;
}

.bubble-1 {
  left: 15vw;
}

.bubble-2 {
  left: 38vw;
}

.bubble-3 {
  left: 62vw;
}

.bubble-4 {
  left: 85vw;
}


@media screen and (max-width: 1200px) {
  .bubble {
    width: 40vw;
    height: 40vw;
    border-radius: 40vw;
  }

    bubble-main {
      width: 60vw;
      height: 60vw;
      border-radius: 60vw;
    }

    .bubble-1 {
      left: 27vw;
      top: 45%;
    }
    .bubble-2 {
      left: 75vw;
      top: 45%;
    }
    .bubble-3 {
      left: 27vw;
      top: 70%;
    }
    .bubble-4 {
      left: 75vw;
      top: 70%;
    }
}