<section>
    <div class="bubble no-hover">
        <div class="bubble__content">
            <p>My values</p>
        </div>
    </div>
    <div class="bubble">
        <div class="bubble__content">
            <p>High quality commitment</p>
        </div>
    </div>
    <div class="bubble">
        <div class="bubble__content">
            <p>Creative solutions</p>
        </div>
    </div>
    <div class="bubble">
        <div class="bubble__content">
            <p>Flexibility to changes</p>
        </div>
    </div>
    <div class="bubble">
        <div class="bubble__content">
            <p>Fast delivery</p>
        </div>
    </div>
</section>